body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  #principalContainer {
    background-color: rgb(27, 27, 27);
    padding: 30px;
    border-radius: 30px;
    max-width: 270px;
   
    position: absolute;
    top: 25%;
  }
  #buttonsAndScreenContainer {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 20px;
  }
  #screen {
    background-color: rgb(230, 255, 253);
    height: 65px;
    width: 260px;
    border-radius: 30px;
    display: flex;
    align-content: center;
    justify-content: end;
  }
  #buttonsBox {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-flow: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; 
  }
  .btn {
    text-transform: uppercase;
    margin: 2px;
    padding: 20px;
    font-size: 20px;
    background-color: rgb(54, 53, 53);
    color: rgb(233, 226, 226);
    border-radius: 100px;
    flex: 1 0 0%;
  }
  .symbol {
    background-color: rgb(211, 148, 90);
    color: rgb(54, 53, 53);
  }
  .ext {
    background-color: rgb(107, 107, 107);
    color: rgb(24, 23, 23);
  }
  p {
    display: flex;
    align-content: center;
    margin: 15px;
    font-size: 30px;

  }
